{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Check website ip" %}{% endblock %}
{% block content %}
    <div class="bg-light">
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <header class="pb-3 mb-5 border-bottom ">
                <div class="d-flex justify-content-between">
                    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                        <span class="fs-4">ShowIp</span>
                    </a>
                    <div class="d-flex justify-content-end text-dark text-decoration-none">
                        <ul class="d-flex justify-content-end list-unstyled">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for lang in languages %}
                                <li class="px-2 fs-4" style="width: 50px;">
                                    <a href="/{{ lang.code }}/">
                                        <img src="{% static '' %}img/{{ lang.code }}.png"
                                             class="rounded-circle img-thumbnail {% if LANGUAGE_CODE == lang.code %} border border-primary{% endif %}"
                                             alt="{{ lang.name_local }}" title="{{ lang.name_local }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </header>
            <div>
                <fieldset class="p-2">
                    <legend>{% trans "Form" %}</legend>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for i in ips %}
                        {% if "error" in i %}
                            <div class="alert alert-danger">
                                <strong>{{ i.host }} - {{ i.error|escape }}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <form method="POST" class="form-group" id="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group pt-3 pb-3">
                            {{ form.addresses }}
                        </div>
                        <div class="form-group pt-3 pb-3">
                            {{ form.file.label_tag }}
                            {{ form.file }}
                        </div>
                        <div class="form-check form-switch pt-3 pb-3">
                            {{ form.get_scv }}
                            {{ form.get_scv.label_tag }}
                        </div>
                        <div class="form-group  pt-3 pb-3">
                            <button type="submit" class="btn btn-primary" id="check"><i class="bi bi-check-lg"></i>
                            </button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row g-5 col-lg-8 mx-auto p-3 py-md-5">
        <h1 class="text-center">Ips</h1>
        {% if ips %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">host</th>
                    <th scope="col">ip</th>
                    <th scope="col">port</th>
                    <th scope="col">SLL</th>
                    <th scope="col">{% trans "SLL Error code" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for i in ips %}
                    {% if "error" not in i %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ i.host }}</td>
                            <td>{{ i.ip }}</td>
                            <td>{{ i.port }}</td>
                            <td>{% if i.ssl %}<i class="bi bi-shield-fill-x text-danger"></i>{% else %}
                                <i class="bi bi-shield-fill-check text-success"></i>{% endif %}</td>
                            <td>{% if i.ssl %}{{ i.ssl }}{% else %}<i class="bi bi-dash"></i>{% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1 class="text-center"><i class="bi bi-dash-lg"></i></h1>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/main.js' %}" type="application/javascript"></script>
{% endblock %}
